@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ql-toolbar.ql-snow + .ql-container.ql-snow{
  background: white;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1{
  font-size: larger;
  font-weight: 600;
}

h2{
  font-size: large;
  font-weight: 500;
}

pre{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3rem;
  background-color:aliceblue;
  padding: 3px;
  border-radius: 5px;
  font-weight: 400;
  color: #6d6d6d
}